<div class="row">
	<div class="text-center" style="margin-bottom: 20px;">
		<h1>Available Jobs</h1>
	</div>
  <% @jobs.find_each do |job|%>
		<div class="col-lg-6 mb-4">
			<div class="card job-card">
				<img class="card-img-top" src="" alt="">
				<div class="card-body">
					<h5 class="card-title"><%= job.title %></h5>
					<p class="card-text">
							<%= job.description %>
					</p>

					<%= link_to "View Job", job_path(job.id), class: "btn btn-outline-primary btn-sm" %>
				</div>
			</div>
		</div>
	<% end %>
</div>
